In [2]:
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_raw = pd.read_csv('../raw/dados_ficha_a_desafio.csv')
df_raw

,id_paciente,sexo,obito,bairro,raca_cor,ocupacao,religiao,luz_eletrica,data_cadastro,escolaridade,...,familia_beneficiaria_auxilio_brasil,crianca_matriculada_creche_pre_escola,altura,peso,pressao_sistolica,pressao_diastolica,n_atendimentos_atencao_primaria,n_atendimentos_hospital,updated_at,tipo
0,cd6daa6e-038d-4952-af29-579e62e07f97,male,0,Parada de Lucas,Branca,Não se aplica,Sem religião,True,2021-06-24 00:00:00.000,Fundamental Incompleto,...,0,0,172.0,52.5,110.0,70.0,8,9,2021-06-01 00:00:00.000,historico
1,ad6cecb2-3a44-49ab-b2f3-6f9ffc2e2ec7,male,0,Cidade Nova,Parda,Assistente Administrativo,Evangélica,1,2021-01-07 00:00:00.000,Médio Incompleto,...,1,0,158.0,76.2,140.0,80.0,0,6,2020-06-25 00:00:00.000,historico
2,54e834e7-e722-4daa-8909-cf917a1247e6,male,0,Santa cruz,Parda,Não se aplica,Católica,1,2021-02-18 00:00:00.000,Fundamental Completo,...,0,0,53.0,82.5,180.0,60.0,5,2,2020-03-02 00:00:00.000,historico
3,c6a71e5e-0933-48d1-9d5a-8f448dc37f71,female,False,Bangu,Branca,Representante Comercial Autônomo,Sem religião,1,2022-03-09 10:40:37,Alfabetizado,...,1,1,164.0,90.6,120.0,70.0,0,27,2021-11-05 11:08:17.477,rotineiro
4,d5262a3c-e5d3-4195-a46b-0acd2533e1d6,male,0,Santíssimo,Branca,Técnico Eletricista,Outra,True,2022-12-13 18:30:45,Médio Completo,...,0,0,154.0,8.5,180.0,80.0,25,0,2020-11-11 00:00:00.000,historico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,9aa08b9f-44f3-417d-bd1d-66288d7beaae,female,False,Rio Comprido,Parda,Técnico Mecânico,Outra,1,2021-11-21 17:17:42,Alfabetizado,...,0,False,61.0,117.0,140.0,69.0,0,4,2022-04-27 14:54:01.593,historico
99996,1b1f7444-8959-4210-b5de-cdfb9b62eab8,female,0,Realengo,Branca,Não se aplica,Outra,1,2021-07-28 11:17:00,Fundamental Incompleto,...,False,0,92.0,82.0,140.0,90.0,0,28,2020-04-15 00:00:00.000,historico
99997,2c1d1127-0575-4df1-a879-12734f7cbf39,female,0,Amendoeira,Parda,Não se aplica,Católica,True,2022-05-18 00:00:00.000,Fundamental Incompleto,...,False,0,51.0,69.0,110.0,80.0,1,0,2022-05-18 09:24:57.333,historico
99998,6a28a1d0-9d1f-4d66-8f28-759083b91f59,female,0,Santa cruz,Branca,Vendedor Em Domicílio,Sem religião,1,2022-05-11 11:11:51.667,Médio Completo,...,False,False,163.0,91.0,150.0,80.0,0,0,2020-07-14 00:00:00.000,historico
99999,d582b5c6-06c6-4741-9fcc-ccbc22d43413,female,0,Campo Grande,Parda,Não se aplica,Católica,1,2021-12-15 12:01:59.133,Médio Completo,...,False,1,164.0,88.8,130.0,80.0,7,10,2020-10-08 00:00:00.000,historico

In [4]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 35 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id_paciente                            100000 non-null  object
 1   sexo                                   100000 non-null  object
 2   obito                                  100000 non-null  object
 3   bairro                                 100000 non-null  object
 4   raca_cor                               100000 non-null  object
 5   ocupacao                               100000 non-null  object
 6   religiao                               100000 non-null  object
 7   luz_eletrica                           100000 non-null  object
 8   data_cadastro                          100000 non-null  object
 9   escolaridade                           100000 non-null  object
 10  nacionalidade                          100000 non-null  object
 11  renda_familiar                         100000 non-null  object
 12  data_nascimento                        100000 non-null  object
 13  em_situacao_de_rua                     100000 non-null  object
 14  frequenta_escola                       100000 non-null  int64
 15  meios_transporte                       100000 non-null  object
 16  doencas_condicoes                      100000 non-null  object
 17  identidade_genero                      99048 non-null   object
 18  meios_comunicacao                      100000 non-null  object
 19  orientacao_sexual                      100000 non-null  object
 20  possui_plano_saude                     100000 non-null  object
 21  em_caso_doenca_procura                 100000 non-null  object
 22  situacao_profissional                  100000 non-null  object
 23  vulnerabilidade_social                 100000 non-null  object
 24  data_atualizacao_cadastro              100000 non-null  object
 25  familia_beneficiaria_auxilio_brasil    100000 non-null  object
 26  crianca_matriculada_creche_pre_escola  100000 non-null  object
 27  altura                                 99975 non-null   float64
 28  peso                                   99816 non-null   float64
 29  pressao_sistolica                      99960 non-null   float64
 30  pressao_diastolica                     99983 non-null   float64
 31  n_atendimentos_atencao_primaria        100000 non-null  int64
 32  n_atendimentos_hospital                100000 non-null  int64
 33  updated_at                             100000 non-null  object
 34  tipo                                   100000 non-null  object
dtypes: float64(4), int64(3), object(28)
memory usage: 26.7+ MB

In [5]:
df_raw.columns

Index(['id_paciente', 'sexo', 'obito', 'bairro', 'raca_cor', 'ocupacao',
       'religiao', 'luz_eletrica', 'data_cadastro', 'escolaridade',
       'nacionalidade', 'renda_familiar', 'data_nascimento',
       'em_situacao_de_rua', 'frequenta_escola', 'meios_transporte',
       'doencas_condicoes', 'identidade_genero', 'meios_comunicacao',
       'orientacao_sexual', 'possui_plano_saude', 'em_caso_doenca_procura',
       'situacao_profissional', 'vulnerabilidade_social',
       'data_atualizacao_cadastro', 'familia_beneficiaria_auxilio_brasil',
       'crianca_matriculada_creche_pre_escola', 'altura', 'peso',
       'pressao_sistolica', 'pressao_diastolica',
       'n_atendimentos_atencao_primaria', 'n_atendimentos_hospital',
       'updated_at', 'tipo'],
      dtype='object')

In [6]:
df_raw.describe()

,frequenta_escola,altura,peso,pressao_sistolica,pressao_diastolica,n_atendimentos_atencao_primaria,n_atendimentos_hospital
count,100000.000000,99975.000000,99816.000000,99960.000000,99983.000000,100000.000000,100000.000000
mean,0.158190,142.693589,63.801629,129.544068,79.378207,5.542710,7.312930
std,0.364921,38.659345,35.594173,21.406429,21.062140,5.204464,9.801987
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,145.000000,50.700000,120.000000,70.000000,0.000000,0.000000
50%,0.000000,158.000000,67.900000,130.000000,80.000000,5.000000,2.000000
75%,0.000000,165.000000,82.000000,140.000000,87.000000,9.000000,13.000000
max,1.000000,810.000000,998.000000,900.000000,921.000000,32.000000,77.000000

In [7]:
df_raw.nunique()

id_paciente                              99000
sexo                                         2
obito                                        4
bairro                                     748
raca_cor                                     6
ocupacao                                  1355
religiao                                    16
luz_eletrica                                 4
data_cadastro                            70374
escolaridade                                11
nacionalidade                                3
renda_familiar                               9
data_nascimento                          30401
em_situacao_de_rua                           3
frequenta_escola                             2
meios_transporte                           655
doencas_condicoes                          277
identidade_genero                           10
meios_comunicacao                          325
orientacao_sexual                            4
possui_plano_saude                           4
em_caso_doenca_procura                     168
situacao_profissional                       13
vulnerabilidade_social                       4
data_atualizacao_cadastro                85298
familia_beneficiaria_auxilio_brasil          4
crianca_matriculada_creche_pre_escola        4
altura                                     620
peso                                      4055
pressao_sistolica                          202
pressao_diastolica                         173
n_atendimentos_atencao_primaria             32
n_atendimentos_hospital                     66
updated_at                               64266
tipo                                         2
dtype: int64

Verificamos imediatamente que temos ids repetidos, colunas que deveriam ser booleanas com mais que 2 atributos e colunas com mais registros que o esperado.

In [8]:
df_raw["obito"].value_counts()

obito
0        90956
False     7605
1         1294
True       145
Name: count, dtype: int64

Aqui fica evidente o caso de uma coluna que deveria ter apenas duas possibilidades. Temos diversos casos semelhantes que devem ser tratados

In [9]:
df_raw["raca_cor"].value_counts()

raca_cor
Parda       50856
Branca      35113
Preta       11373
Amarela      2619
Indígena       36
Não             3
Name: count, dtype: int64

In [10]:
df_raw["ocupacao"].value_counts()

ocupacao
Não se aplica                                              47000
Vendedor de Comércio Varejista                              3091
Empregado Doméstico Diarista                                2328
Administrador                                               2236
Vendedor Em Domicílio                                       1878
                                                           ...
Operador de Prensa de Moldar Vidro                             1
Redator de Textos Técnicos                                     1
Tecnólogo em produção industrial                               1
Produtor na Olericultura de Raízes, Bulbos e Tubérculos        1
Técnico de Operações e Serviços Bancários - Câmbio             1
Name: count, Length: 1355, dtype: int64

In [11]:
df_raw["religiao"].value_counts()

religiao
Sem religião                          35119
Católica                              28348
Outra                                 18714
Evangélica                            14798
Espírita                               1974
Religião de matriz africana             731
Não                                     174
Budismo                                  81
Judaísmo                                 32
Islamismo                                 8
Acomp. Cresc. e Desenv. da Criança        7
Candomblé                                 6
ESB ALMIRANTE                             5
10 EAP 01                                 1
ORQUIDEA                                  1
Sim                                       1
Name: count, dtype: int64

É possível perceber preenchimentos errados e dados que não fazem sentido, que devem ser tratados. 
Os casos "Sim" e "Não" também devem ser investigados mas podem ter uma explicação ao conversar com especialistas, fazendo sentidos mantê-los, inicialmente.

In [12]:
df_raw["escolaridade"].value_counts()

escolaridade
Médio Completo               32704
Fundamental Incompleto       21826
Fundamental Completo         14301
Alfabetizado                  8519
Não sabe ler/escrever         8231
Médio Incompleto              6434
Superior completo             5904
Superior incompleto           1887
Especialização/Residência       88
Mestrado                        70
Doutorado                       36
Name: count, dtype: int64

In [14]:
df_raw["renda_familiar"].value_counts()

renda_familiar
1 Salário Mínimo              43517
2 Salários Mínimos            33444
3 Salários Mínimos             9867
1/2 Salário Mínimo             4825
1/4 Salário Mínimo             3878
4 Salários Mínimos             2864
Mais de 4 Salários Mínimos     1603
Manhã                             1
Internet                          1
Name: count, dtype: int64

In [15]:
df_raw["meios_transporte"].value_counts()

meios_transporte
Ônibus                                                                        26363
[]                                                                            14081
Carro, Ônibus                                                                 12088
Carro, Metrô, Ônibus, Trem                                                     5172
Carro                                                                          4515
                                                                              ...
["\u00d4nibus", "Carro", "Alternativo", "Trem", "Metr\u00f4"]                     1
["\u00d4nibus", "Caminh\u00e3o", "Carro\u00e7a"]                                  1
["Mar\u00edtimo", "Metr\u00f4", "Carro"]                                          1
["Carro", "Trem", "Bicicleta", "Alternativo"]                                     1
["Carro", "\u00d4nibus", "Metr\u00f4", "Bicicleta", "Trem", "Alternativo"]        1
Name: count, Length: 655, dtype: int64

* Podemos visualizar alguns dados mal formatados e diversas informações "repetidas"
* Faz total sentido, entretanto, que os pacientes tenham mais de um meio de transporte, por exemplo.
* Para estes tipos de colunas, uma organização melhor seria quebrar esses relacionamentos n para n utilizando tabelas intermediárias, paciente_transporte, por exemplo, relacionada com uma tabela dimensão codificando um id para cada meio de transporte
* Entretanto, as duplicatas de ids com informações inconsistentes e os nomes mal formatados poderiam atrapalhar essa organização e uma solução razoável para uma análise inicial foi utilizar one hot encoding para as categorias mais comuns

In [16]:
df_raw["meios_comunicacao"].value_counts()

meios_comunicacao
Internet, Televisão                                                            19378
Internet, Rádio, Televisão                                                     14505
[]                                                                             13682
Televisão                                                                       9620
Internet                                                                        8519
                                                                               ...
["R\u00e1dio", "Televis\u00e3o", "Jornal", "Internet", "Revista", "Outros"]        1
["Revista", "Jornal", "Internet"]                                                  1
['Televisão', 'Jornal', 'Internet', 'Rádio']                                       1
Internet, Jornal, Outros, Rádio, Revista                                           1
["Jornal", "R\u00e1dio", "Televis\u00e3o", "Internet"]                             1
Name: count, Length: 325, dtype: int64

In [17]:
df_raw["em_situacao_de_rua"].value_counts()

em_situacao_de_rua
0        91910
False     7974
1          116
Name: count, dtype: int64

In [18]:
df_raw["identidade_genero"].value_counts()

identidade_genero
Não                            69781
Cis                            21033
Mulher transexual               3792
Homem transexual                1939
Outro                           1343
Heterossexual                   1025
Sim                               50
Homossexual (gay / lésbica)       44
Travesti                          35
Bissexual                          6
Name: count, dtype: int64

É possível observar uma confusão entre identidade de gênero e orientação sexual. Assim, as categorias "Homem transexual" e "Mulher transexual" foram tratadas para Transexual e as categorias "Homossexual" e "Bissexual" foram tratadas para não atrapalhar a análise
* As categorias Sim e Não devem ser investigadas para entender seu significado

In [19]:
df_raw["possui_plano_saude"].value_counts()

possui_plano_saude
0        84459
1         7628
False     7442
True       471
Name: count, dtype: int64

In [20]:
df_raw["familia_beneficiaria_auxilio_brasil"].value_counts()

familia_beneficiaria_auxilio_brasil
0        77219
1        11833
False     9433
True      1515
Name: count, dtype: int64

In [27]:
df_raw["doencas_condicoes"].value_counts()

doencas_condicoes
[]                                                      46043
Hipertensão                                             23423
Diabetes, Hipertensão                                   11254
["Outros"]                                               4903
Diabetes                                                 4134
                                                        ...
['Tabagismo', 'Usuário de Drogas Ilícitas']                 1
['Outros', 'Transtorno Mental']                             1
['Def. Visual', 'Diabetes', 'Hipertensão', 'Outros']        1
['Asma', 'Gestante', 'Outros']                              1
['Def. Mental', 'Outros']                                   1
Name: count, Length: 277, dtype: int64